{% extends "easyrequest_app_templates/base.html" %}

{% block page_title %}
easyRequest info
{% endblock page_title %}


{% block content %}

<style>
    h1 {
        margin-top: 0;
        text-transform: none
    }
    hr {
        margin-top: 2em; }
    p {
        margin-top:1.5em;
    }
    ul {
        list-style-type: square;
        margin-left: 2em;
    }
    li {
        line-height: 120%;
        margin-bottom: .5em;
    }
</style>


<h1>easyRequest &mdash; info</h1>

<p>The easyrequest service helps you get the items you need when directly accessing the stacks is not possible.</p>
<p>Here's a typical flow...</p>
<ul>
    <li>You'll start in <a href="https://search.library.brown.edu" rel="nofollow">Josiah</a>, the Brown-Library catalog.</li>
    <li>You'll do a search on Lincoln, and eventually find an item you want. Example: <a href="https://search.library.brown.edu/catalog/b2104895" rel="nofollow">Lincoln, by Rev. A. Clark</a>.</li>
    <li>If the 'Status' is 'Available', to the right you'll see the link 'Request Item'. Clicking that link gets you to this easyrequest service.</li>
    <li>After logging in, you'll see a confirmation that your request has been received, and a note that you'll get an email from the Library when your item is ready to be picked up.</li>
    <li>You'll also receive a confirmation email.</li>
</ul>
<p>If you have questions, <a href="https://library.brown.edu/libweb/askalib.php">Library staff can help</a>.</p>

{% endblock content %}
