{% extends "easyrequest_app_templates/base.html" %}

{% block page_title %}
easyRequest info
{% endblock page_title %}


{% block content %}

<style>
    h1 {
        font-size: 2.5em;
        margin-top: 2em;
        text-transform: none }
    div#rules {
        margin-top: 3.5em; }
    hr {
        margin-top: 2em; }
    dt, dd {
        font-family:sans-serif;
        margin-top: .5em; }
    dt {
       float:left;
       clear:left;
       text-align:right;
       width:15%;
       color:#bbb;
       font-size: 125%; }
    dd {
       float:left;
       margin-left:2em;
       color:#999;
       font-size: 125%; }
    p {
        font-size: 125%;
        margin-top:1.5em; }
    ul {
        list-style-type: square;
        margin-left: 2em;
        font-size: 125%; }
    li {
        margin-top: .5em; }
</style>

 <h1>Item Requesting Info</h1>

<div id="rules">
  <!-- <p>See this project's <a href="https://github.com/birkin/easyrequest_project">github page</a> for more information.</p> -->
  <p>The easyrequest service helps you get the items you need when directly accessing the stacks is not possible.</p>
  <p>If you have questions, <a href="https://library.brown.edu/libweb/askalib.php">Library staff can help</a>.</p>
</div>

<hr/>

{% endblock content %}
