{% extends "easyrequest_app_templates/base.html" %}

{% block page_title %}
easyRequest login
{% endblock page_title %}


{% block content %}

<style>

    h1 {
        font-size: 2.5em;
        margin-top: 2em;
        text-transform: none }
    p {
        margin-bottom: .5em;
        font-size: 125%; }
    div#requested_item {
        margin-top: 4em; }
    dt, dd {
        font-family:sans-serif;
        margin-top: .5em; }
    dt {
        float:left;
        clear:left;
        text-align:right;
        width:15%;
        font-size: 125%; }
    dd {
        float:left;
        margin-left:2em;
        font-size: 125%; }

    div#forms {
        width: 80%;
        height: 250px;
        /*background: aqua;*/
        margin: auto;
        margin-left: 0;
        margin-top: 6em;
        padding: 10px;
        }

    /* shib form */
    form#shib_login {
        /*from `http://jsfiddle.net/watson/Gsj27/3/`*/
        width: 45%;
        height: 250px;
        float: left;
        }
    h3#please_shib {
        font-size: 1.5em;
        color: maroon;
        }
    select#shib_location {
        float:left;
        }
    input#shib_login_button {
        float:left;
        clear:left;
        margin-top: 1.5em;
        }

    /* barcode form */
    form#barcode_login {
        margin-left: 45%;
        height: 250px;
        border-width: 0;
        border-left-width: 1px;
        border-left-color: maroon;
        border-style: solid;
        padding-left: 2%;
        }
    h3#please_barcode {
        font-size: 1.5em;
        color: maroon;
        }
    select#barcode_location {
        display: block;
        margin-bottom: 1.75em;  /* doing this here because chrome & safari display the select box a bit differently */
        }
    p#name_field_label {
        margin-top: 0em;  /* margin specification moved above */
        }
    p#barcode_field_label {
        margin-top: 1em;
        }
    input#barcode_field_input {
        float:left;
        margin-top: 0em;
        }
    input#barcode_login_button {
        /*float:left;*/
        display: block;
        margin-top: 2.75em;
        }

    /* other */
    p.form_pickup_label {
        margin-top: 1.5em;
        }
    p.login_error {
        float: left;
        color: red;
        margin-top: 1em;
        margin-bottom: .25em;
        }
    hr {
        margin-top: 2em;
        width:100%;
        }

</style>

 <h1>Annex Item Request</h1>

 <div id="requested_item">

    <p>You're requesting the item …</p>
    <br/>
    <dl>
        <dt>title:</dt>
        <dd>{{ title }}</dd>

        {% if callnumber %}
        <dt>call number:</dt>
        <dd>{{ callnumber }}</dd>
        {% endif %}
    </dl>

</div>

<div id="forms">

    <form id="shib_login" action={{ shib_form_action_url }} method="POST">{% csrf_token %}
        <!-- <h3 id="please_shib">Select pickup-location, &amp; log in via Shib...</h3> -->
        <h3 id="please_shib">Log in with your Brown username &amp; password...</h3>
        <p class="form_pickup_label">Pickup location:</p>
        <select name="pickup_location" id="shib_location" size="3">
            <option value="{{ ROCK_code }}" selected="selected">{{ ROCK_display }}</option>
            <option value="{{ SCI_code }}" >{{ SCI_display }}</option>
            <!-- <option value="{{ HAY_code }}" >{{ HAY_display }}</option> -->
            <option value="{{ ORWIG_code }}" >{{ ORWIG_display }}</option>
        </select>
        {% if shib_login_error %}
        <p class="login_error">Problem: based on your login, it appears you're not authorized to use this requesting service.</p>
        <p class="login_error">If you believe you should be able to request this item, please contact Library staff for assistance, either at {{ PHONE_AUTH_HELP }}, or at {{ EMAIL_AUTH_HELP|urlize }}.</p>
        {% endif %}
        <input id="shib_login_button" type="submit" value="Log in">
    </form>

    <form id="barcode_login" action={{ barcode_form_action_url }} method="POST">{% csrf_token %}
        <!-- <h3 id="please_barcode">...or via your patron barcode</h3> -->
        <h3 id="please_barcode">...or with your name and library card barcode</h3>
        <p class="form_pickup_label">Pickup location:</p>
        <select name="pickup_location" id="barcode_location" size="3">
            <option value="{{ ROCK_code }}" selected="selected">{{ ROCK_display }}</option>
            <option value="{{ SCI_code }}" >{{ SCI_display }}</option>
            <!-- <option value="{{ HAY_code }}" >{{ HAY_display }}</option> -->
            <option value="{{ ORWIG_code }}" >{{ ORWIG_display }}</option>
        </select>
        <p id="name_field_label">First or Last Name:</p>
        <input id="name_field_input" type="text" name="barcode_login_name" value="{{ barcode_login_name }}">
        <p id="barcode_field_label">Barcode (14-digit barcode, beginning with 21236...):</p>
        <input id="barcode_field_input" type="text" name="barcode_login_barcode" value="{{ barcode_login_barcode }}">
        {% if barcode_login_error %}
        <p class="login_error">Problem: based on your login, it appears you're not authorized to use this requesting service.</p>
        <p class="login_error">If you believe you should be able to request this item, please contact Library staff for assistance, either at {{ PHONE_AUTH_HELP }}, or at {{ EMAIL_AUTH_HELP|urlize }}.</p>
        {% endif %}
        <br /><input id="barcode_login_button" type="submit" value="Log in">
    </form>

</div>

<hr/>

{% endblock content %}
