{% extends "easyrequest_app_templates/base.html" %}

{% block page_title %}
easyRequest login
{% endblock page_title %}


{% block content %}

<style>

    h1 {
        font-size: 2.5em;
        margin-top: 2em;
        text-transform: none }
    p {
        margin-bottom: .5em;
        font-size: 125%; }
    div#requested_item {
        margin-top: 4em; }
    dt, dd {
        font-family:sans-serif;
        margin-top: .5em; }
    dt {
        float:left;
        clear:left;
        text-align:right;
        width:15%;
        font-size: 125%; }
    dd {
        float:left;
        margin-left:2em;
        font-size: 125%; }

    div#forms {
        margin-top: 6em;
        }

    /* shib form */
    form#shib_login {
        margin-top: 2em;
        }
    h3#please_shib {
        float:left;
        clear:left;
        font-size: 1.5em;
        color: maroon;
        margin-top: 1.5em;
        }
    select#shib_location {
        float:left;
        clear:left;
        margin-top: 1.5em;
        }
    input#shib_login_button {
        float:left;
        clear:left;
        margin-top: 1.5em;
        }

    /* barcode form */
    form#barcode_login {
        float:left;
        clear:left;
        margin-left: 35em;
        margin-top: -8.4em;
        }
    h3#please_barcode {
        font-size: 1.5em;
        color: maroon;
        margin-bottom: .5em;
        }
    select#barcode_location {
        float:left;
        clear:left;
        margin-top: .75em;
        }
    p#name_field_label {
        margin-top: 4.25em;
        }
    p#barcode_field_label {
        margin-top: .5em;
        }
    input#barcode_field_input {
        float:left;
        margin-top: 0em;
        }
    input#barcode_login_button {
        float:left;
        clear:left;
        margin-top: 2em;
        }

    p.login_error {
        color: red;
        margin-bottom: .25em;
        }
    hr {
        float:left;
        clear:left;
        margin-top: 2em;
        width:100%;
        }

</style>

 <h1>easyRequest item</h1>

 <div id="requested_item">

    <p>You're requesting the item …</p>
    <br/>
    <dl>
        <dt>title:</dt>
        <dd>{{ title }}</dd>

        <dt>call number:</dt>
        <dd>{{ callnumber }}</dd>
    </dl>

</div>

<div id="forms">

    <form id="shib_login" action="/easyrequest/shib_login/" method="POST">{% csrf_token %}
        <h3 id="please_shib">Select pickup-location, &amp; log in via Shib...</h3>
        <select name="pickup_location" id="shib_location">
            <option value="{{ ROCK_code }}" selected="selected">{{ ROCK_display }}</option>
            <option value="{{ SCI_code }}" >{{ SCI_display }}</option>
            <option value="{{ HAY_code }}" >{{ HAY_display }}</option>
            <option value="{{ ORWIG_code }}" >{{ ORWIG_display }}</option>
        </select>
        {% if shib_login_error %}
        <p class="login_error">Problem: based on your login, it appears you're not authorized to use this requesting service.</p>
        <p class="login_error">If you believe you should be able to request this item, please contact Library staff for assistance, either at {{ PHONE_AUTH_HELP }}, or at {{ EMAIL_AUTH_HELP|urlize }}.</p>
        {% endif %}
        <input id="shib_login_button" type="submit" value="Log in">
    </form>

    <form id="barcode_login" action="/easyrequest/barcode_handler/" method="POST">{% csrf_token %}
        <h3 id="please_barcode">...or via your patron barcode</h3>
        <select name="pickup_location" id="barcode_location">
            <option value="{{ ROCK_code }}" selected="selected">{{ ROCK_display }}</option>
            <option value="{{ SCI_code }}" >{{ SCI_display }}</option>
            <option value="{{ HAY_code }}" >{{ HAY_display }}</option>
            <option value="{{ ORWIG_code }}" >{{ ORWIG_display }}</option>
        </select>
        {% if barcode_login_error %}
        <p class="login_error">Problem: based on your login, it appears you're not authorized to use this requesting service.</p>
        <p class="login_error">If you believe you should be able to request this item, please contact Library staff for assistance, either at {{ PHONE_AUTH_HELP }}, or at {{ EMAIL_AUTH_HELP|urlize }}.</p>
        {% endif %}
        <p id="name_field_label">First or Last Name:</p>
        <input id="name_field_input" type="text" name="barcode_login_name" value="{{ barcode_login_name }}">
        <br/>
        <br/>
        <p id="barcode_field_label">Barcode (14-digit barcode, beginning with 21236...):</p>
        <input id="barcode_field_input" type="text" name="barcode_login_barcode" value="{{ barcode_login_barcode }}">
        <input id="barcode_login_button" type="submit" value="Log in">
    </form>

</div>

<hr/>

{% endblock content %}
